doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/javascripts/main.js')
    script(type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.js')
    link( rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    script(type='text/javascript' src='/javascripts/pixi.min.js')
  body
    header
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div
          button(data-toggle="collapse" data-target="#navbar").navbar-toggle.collapsed
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        div.collapse.navbar-collapse#navbar
          ul.nav.navbar-nav
            li
              if user
                p.navbar-text
                  strong Hi, #{user.username}
          if user
            ul.nav.navbar-nav.navbar-right
              li
                a(href= "/logout").text-uppercase log out

    if error
      p.alert.alert-warning #{error}
    if success
      p.alert.alert-success #{success}
    if notice
      p.alert.alert-info #{notice}
    block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
